#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loader {
  border: 2px solid #bcbcbc;
  border-top: 2px solid #5059ff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.code {
  background: #f0f0f0;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

.processing {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.125rem;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
